<div id="shoppingcart">
  <div class="cover-shoppingcart-img">
    <user-nav-bar></user-nav-bar>
  </div>

  <div class="container">
    <h2>My Shopping Cart</h2>
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Bean Name</th>
          <th>Unit Price (HKD)</th>
          <th>Quantity</th>
          <th>Total Price (HKD)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='orderdetail in orders' >
          <td>{{orderdetail.bean_name}}</td>
          <td>{{orderdetail.price}}</td>
          <td>{{orderdetail.quantity}}</td>
          <td>{{orderdetail.price*orderdetail.quantity}}</td>
          <td><button ng-click="deleteOrderDetail($index)">Remove</button></td>
        </tr>
        <tr>
          <td><span>Grand Total: {{getTotal()}}</span></td>
          </tr>
      </tbody>
    </table>
    </div>
  </div>

<form ng-submit="charge()" id="payment-form">
  <span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input type="text" size="20" data-stripe="number" ng-model="payment.card.number"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-stripe="cvc" ng-model="payment.card.cvc"/>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <input type="text" size="2" data-stripe="exp-month" ng-model="payment.card.exp_month"/>
    </label>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year" ng-model="payment.card.exp_year"/>
  </div>

  <button type="submit">Submit Payment</button>
</form>