<div id="checkout">
  <div class="cover-shoppingcart-img">
    <user-nav-bar></user-nav-bar>
  </div>

  <div class="container panel panel-default">
    <h2 class="panel-heading" >My Orders</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><i class="fa fa-coffee"></i> Bean Name</th>
              <th><i class="fa fa-dollar"></i> Unit Price (USD)</th>
              <th><i class="fa fa-plus-square"></i> Quantity</th>
              <th><i class="fa fa-dollar"></i> Subtotal (USD)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat='orderdetail in orders'>
              <td>{{orderdetail.bean_name}}</td>
              <td>{{orderdetail.price}}</td>
              <td>{{orderdetail.quantity}}</td>
              <td>{{orderdetail.price * orderdetail.quantity}}</td>
            </tr>
            <tr>
              <td><span>Grand Total: {{getTotal()}}</span></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>