<div id="flavours">
  <div class="cover-flavours-img">
    <user-nav-bar></user-nav-bar>
    <div class="description">
      <h1>Choose Your Favorite Flavours </h1>
      <a href="/#/shoppingcart"><button class="btn btn-start">Checkout</button></a>
    </div>
  </div>

  <section>
  <ul>
    <div class='row'>
      <li class="berry col-md-4">
        <img ng-src="{{preferences.berry.imgOn}}" ng-show="preferences.berry.active" ng-click="toggleInput('berry')">
        <img ng-src="{{preferences.berry.imgOff}}" ng-hide="preferences.berry.active" ng-click="toggleInput('berry')">
      </li>
      <li class="chocolate col-md-4">
        <img ng-src="{{preferences.chocolate.imgOn}}" ng-show="preferences.chocolate.active" ng-click="toggleInput('chocolate')">
        <img ng-src="{{preferences.chocolate.imgOff}}" ng-hide="preferences.chocolate.active" ng-click="toggleInput('chocolate')">
      </li>
      <li class="citrus col-md-4">
        <img ng-src="{{preferences.citrus.imgOn}}" ng-show="preferences.citrus.active" ng-click="toggleInput('citrus')">
        <img ng-src="{{preferences.citrus.imgOff}}" ng-hide="preferences.citrus.active" ng-click="toggleInput('citrus')">
      </li>
    </div>
    <div class='row'>
      <li class="nuts col-md-4">
        <img ng-src="{{preferences.nuts.imgOn}}" ng-show="preferences.nuts.active" ng-click="toggleInput('nuts')">
        <img ng-src="{{preferences.nuts.imgOff}}" ng-hide="preferences.nuts.active" ng-click="toggleInput('nuts')">
      </li>
      <li class="spices col-md-4">
        <img ng-src="{{preferences.spices.imgOn}}" ng-show="preferences.spices.active" ng-click="toggleInput('spices')">
        <img ng-src="{{preferences.spices.imgOff}}" ng-hide="preferences.spices.active" ng-click="toggleInput('spices')">
      </li>
      <li class="tropical_fruit col-md-4">
        <img ng-src="{{preferences.tropical_fruit.imgOn}}" ng-show="preferences.tropical_fruit.active" ng-click="toggleInput('tropical_fruit')">
        <img ng-src="{{preferences.tropical_fruit.imgOff}}" ng-hide="preferences.tropical_fruit.active" ng-click="toggleInput('tropical_fruit')">
      </li>
    </div>
  </ul>
  </section>

<!-- Product Selection -->
  <section class='product-selection container-fluid'>
    <li ng-repeat='bean in beans | filter : filterPreference'  class='col-sm-6 col-md-6 col-lg-4 well'>
      <!-- <form ng-submit="addToCart(bean.id, order[$index].quantity)"> -->
        <img src="{{bean.image}}">
        <h3>{{bean.bean_name}}</h3>
        <p><span>Flavour:</span> {{bean.flavours}}</p>
        <p>{{bean.description}}</p>
        <p><span>Price:</span> ${{bean.price}}/ bag ({{bean.weight}} grams)</p>
        <!-- <input type="number" ng-model="order[$index].quantity" placeholder="Quantity in Bags"> -->
        <button ng-click="addToCart(bean)"class="btn">Add to Cart</button>
      <!-- </form> -->
    </li>
  </section>

  <section class='cart'>
  <div class="container">
    <h2>My Shopping Cart</h2>
    <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Bean Name</th>
          <th>Unit Price (USD)</th>
          <th>Quantity</th>
          <th>Subtotal (USD)</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(bean_id, details) in cart">
          <td>{{details.bean_name}}</td>
          <td>{{details.price}}</td>
          <td><input type="number" min="0" ng-model="details.quantity"></td>
          <td>{{details.quantity * details.price}}</td>
          <td><button ng-click="deleteBean(bean_id)">Remove</button></td>
        </tr>
        <tr>
          <td><span>Grand Total: {{getTotal()}}</span></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  </section>

</div>