app.controller('checkoutCtrl', ['$scope', '$auth', '$http', 'stripe', 'UserFactory', '$stateParams', function($scope, $auth, $http, stripe, UserFactory, $stateParams){

  if ($stateParams.error) {
    console.log($stateParams.error);
  }

  $scope.orders = [];

  $http({
    method: "GET",
    url: "http://localhost:3000/api/orders"
  }).then(function(data){
    console.log(data.data);
    $scope.orders = data.data;
    appendPaymentButton();
  })

  $scope.getTotal = function(){
    var total = 0;
      for(var i = 0; i < $scope.orders.length; i++){
        var orderdetail = $scope.orders[i];
        total += (orderdetail.price * orderdetail.quantity);
    }
   return total;
  }

  function appendPaymentButton () {
    var elem = $('#test');
    elem.html('');

    var button= '<form action="/charge?amount=' + $scope.getTotal() * 100 + '" method="POST">' +
                  '<script ' +
                    'src="https://checkout.stripe.com/checkout.js" ' +
                    'class="stripe-button" ' +
                    'data-key="pk_test_WiuhJ7qaYllX2BMbT333Hy3S" ' +
                    'data-amount="' + $scope.getTotal() * 100 + '" ' +
                    'data-name="Little Coffee" ' +
                    'data-description="Coffee Beans ($' + $scope.getTotal() + ')" ' +
                    'data-image="<%= asset_path('128logo.png') %>" ' +
                    'data-shippingAddress=true ' +
                    'data-locale="auto">' +
                  '</script>' +
                '</form>';
    $('#test').append(button);
  }
}]);