#checkout {
  .cover-shoppingcart-img{
    width: 100%;
    height: 200px;
    background-image: image-url("cart_header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    overflow: auto;
    color: white;
    margin-top: 0px;
  }

  .container {
    margin-top: 50px;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
  }

  span {
    font-weight: bold;
    font-size: 16px;
  }

  button {
    margin-left: 60px;
  }

  #test {
    display: inline-block;
    text-align: right;
  }

}