#navbar {

  .logo {
    background-image: image-url("logo.png");
    background-repeat: no-repeat;
    height:200px;
    margin-top: 30px;
  }

  .row {
    display: inline-block;
    float: right;
  }

  a {
    color: white;
    font-size: 18px;
    margin-right: 50px;
  }

}