<!DOCTYPE html>
<html ng-app="littlecoffee">
<head>
  <title>Littlecoffee</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ui-view>
  <%= yield %>
</body>
</html>
